*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}
*::-webkit-scrollbar {
    display: none;
}
main{
    width:  100%;
    height: auto;   
    display: flex;
}

#menuBarIcon{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 10px;
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 4px;
    background-color: #0F1738;
    border: 1px solid #1E1F21;
}
#menuBarIcon:hover{
    background-color: #5e678b;
}
.container1{
    /* width: 20.35%; */
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 220px;
    color: white;
    background-color: #0F1738;
    position: relative;
}
.container1 .head, .mainHead{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 6px;
    width: 100%;
}
.mainHead{
    display: none;
}
.container1 .menuItemsTop, .container1 .menuItemsBottom, .container1 .dropdown-content{
    cursor: pointer;
    padding: 0 45px 0 19px ;
}

.container1 .menuItem, .container1 .dropdown-content a{
    height: 44px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;

}

.container1 .menuItem:hover, .dropdown-content a:hover{
    background-color: #1A213F;
}

.dropdown-content {
    display: none; 
    /* Initially hidden */
    padding-left: 20px; /* Indentation for dropdown items */
    border-left: 2px solid #ccc;
}

.dropdown-content a {
    display: block;
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
}

/* Active State: Show Dropdown */
.menuItem.active + .dropdown-content
{
    display: block;
}

.container1 .menuItemsBottom .settingsIcon{
    border-radius: 8px;
    position: absolute;
    right: 0;
} 

.container1 .menuItemsBottom .settingsIcon:hover{
    background-color: #1A213F;
}

#orgData{
    height: 56px;
    padding: 12px;
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}
.menuItemsBottom{
    position: absolute;
    bottom: 3.9%;
}
.container2{
    width: 29.4%;
    height: 100%;
    padding: 40px;
    background-color: #F8F9FF;
}
.welcomeText{
    width:  100%;
    height: 58px;
    font-weight: 400;
    margin-bottom: 32px;
}
.goodMorning{
    display: flex;
    gap: 20px;
    color: #1E1F21;
   
}
.goodMorning h1{
    font-weight: 400;
    font-size: 26px;
    line-height: 28.6px;
    text-align: left;
}
#name{
    font-weight: 500;
}
.welcomeText h2{
    color: #6A6A6D;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;
}
.documentsNote{
    width: 100%;
    height: 201px;
    display: flex;
    align-items: end;
    position: relative;
    margin-bottom: 32px;
    overflow-y: hidden;
}
.documentsContainer{
    width: 100%;
    height: 182px;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(104.45deg, #7B92F8 -8.72%, #FF9393 102.16%);
}

#documentsIcon{
    position: absolute;
    left: 15px;
    top: 0px;
}
#auto_awesome{
    position: absolute;
    top: 64px;
    right: 26px;
    width: 31px;
    height: 31px;
}
.textTop{
    width: 47.37%;
    height: 46px;
    margin-left: 118px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18.2px;
    text-align: left;

}
.textTop strong{
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;

}
.textTop #whiteSpace{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;

}
.textTop #upTODate{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;

}
#centerAlignment{
    position: absolute;
    top: 117px;
    left: 25px;
}

.textBottom{
    display: flex;
    position: absolute;
    gap: 57px;
    left: 23px;
    bottom: 24px;
}

.textBottom p{
    width: 64.04%;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;


}
.textBottom span{
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;
}
.applications{
    width: 100%;
    height: 173px;
    background: linear-gradient(105.84deg, #263A8B -1.73%, #1A213F 120.63%);
    border-radius: 16px;
    margin-bottom: 57px;
    border: 1px solid #DFE4FF;
    opacity: 0px;
    padding-left: 15px;
    padding-right: 10px ;
    display: flex;
    align-items: center;
    gap: 27.98px;
}
.applications ul{
 
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    color: #FFFFFF;
    top: 414px;
    left: 518.98px;
    opacity: 0px;

}
.applications li{
    width: Hug (25.35%)px;
    height: Hug (13px)px;
    padding: 8px 0;
    opacity: 0px;
}
#orangeLi{
    list-style-image: url(../public/icons/Ellipse_orange.svg);
}
#redLi{
    list-style-image: url(../public/icons/Ellipse_red.svg);
}
#greenLi{
    list-style-image: url(../public/icons/Ellipse_green.svg);
}
.activityBox{
    width: 100%;
    height: 155px;
    display: flex;
    margin-bottom: 48px;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.activityBox .viewAll .title{
    display: flex;
    padding-bottom: 6px;
    gap: 12px;
}
.activityBox a{
    
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: center;

}
.activityBox h1{

    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}
.activityBox .viewAll p{

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;

}
.activityBox .activities{
    padding-right: 16px;
    height: 81px;
    gap: 0px;
    border: 1px;
    display: flex;   
    justify-content: space-between;
}
.activityBox .activities .singleActivity{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.activityBox .activities .singleActivity img{
    width: 26.95px;
    height: 27px;
    margin-bottom: 6px;
}
.activityBox .activities .singleActivity p{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: start;
}
.activityBox .activities .singleActivity #activityCount{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

}
.container3{
    /* width: 50.27%; */
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding: 40px;
}
.container3 .titleMain{
    display: flex;
    padding-bottom: 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 12px;
}
.container3 a{   
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: center;
}
.container3 h1{
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}
.container3 .navigation{
    display: flex;
    cursor: pointer;
    gap: 24px;
    border-bottom: 1px solid #CECED1;
}
.container3 .navigation p:hover{
    border-bottom: 2px solid #0F1738;
}

.container3 .myTasks{
    width: 100%;
    flex-direction: column;
}
#myTaskData{
    margin-top: 32px;
}
.container3 #overDueData, .container3 #assignedByMeData{
    width: 100%;
    height: auto;
    margin: auto;
    display: none;
    align-items: center;
    justify-content: center;
}
#overDueData img, #assignedByMeData img{
    padding: 10px;
    width: 100px;
    height: 100px;
}
.container3 .navigation p{
    padding-bottom: 10px;
}
.container3  .navigation .navItem.active{
    border-bottom: 2px solid #0F1738;

}
.task-table {
    width: 100%;
    border-spacing: 0;
    border-radius: 8px 8px 10px 10px;
    text-align: left;
}
.container3 .documentData{
    display: none;
}
.task-table thead{ 
    height: 47px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.6px;
    color:#6A6A6D;
    background: #F8F9FC;

}
.task-table thead div{
    padding-right: 10px;
}
.task-table thead th{
    border-bottom: 1px solid #E5E9FF;
    border-top: 1px solid #E5E9FF; 
}
.task-table tbody{
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #1E1F21;
}
.task-table tr td div{
    padding-right: 60px;
}
.task-table tr td:first-child{
    border-left: 1px solid #E5E9FF;
}

.task-table tr td:last-child{
    border-right: 1px solid #E5E9FF;
}
.task-table tr td:last-child div{
    padding-right: 0;
}
.task-table tr:last-child td{
    border-bottom: 1px solid #E5E9FF;
}

.task-table tr:first-child th:first-child{
    border-radius: 10px 0 0 0;
}
.task-table tr:first-child th:last-child{
    border-radius: 0 10px 0 0;
}

.task-table td:first-child, th:first-child{
    padding-left: 20px;
}
.task-table td:last-child,th:last-child{
    padding-right: 20px;
}
.task-table td:first-child{
    width: 33%;
}
.task-table td:first-child div{
   width: 100%;   
}
.task-table td:first-child p{
    width: 100%;   
}
.task-table td:first-child div{
    padding-right: 60px;  
    display: -webkit-box; /* Required for the multi-line truncation */
    -webkit-box-orient: vertical; /* Defines the box orientation as vertical */
    -webkit-line-clamp: 3; /* Limits the text to 3 lines */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds ellipses when text overflows */
    
}
.task-table tr:last-child div {
    border-bottom: none;
}

.task-table tr:last-child td:first-child{
    border-radius: 0 0 0 10px;
}
.task-table tr:last-child td:last-child{
    border-radius: 0 0 10px 0;
}

.task-table td div{
    margin-top: 16px;
    padding: 0 auto 16px auto;
    height: 56px;
    border-bottom: 1px solid #CECED1;
}
.task-table .status, .documentData .status{
    color: #6A6A6D;
    background-color: #F1F1F5;
    padding: 4px 12px;
    padding: 4px 12px 4px 12px;
    border-radius: 24px;
    border: 1px solid #CECED1;
}

#table2 td:first-child p{
    width: auto;  
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    text-align: left;
}
#table2 td div{
    height: 37.5px;
    padding-bottom: 17.5px;
}

@media screen and (max-width: 1255px) {
    
    .container1{
        display: none !important;
        margin: 0;
        position: absolute !important;
        min-width: 220px !important;
        min-height: 700px !important;
        overflow-y:scroll !important;
        z-index: 1000  !important;
    }
    .container2{
        padding-left: 10px !important;
        width: 40% !important;
    }
    .container3{
        width: 60% !important;
    }
    .task-table td:first-child{
        width: 27% !important;
    }
    .task-table tr td:first-child div{
        padding-right: 20px !important;
        
    }
    .task-table td:first-child div{
        padding-right: 40px !important;  
    }
    .task-table td:last-child{
        padding-right: 0 !important;
    }
   
    #table2 td div{
        padding-right: 10px !important;
    }
    
}

@media screen and (max-width: 1000px){
    
   .container2{
        width: 50%;
        height: auto;
        padding-right: 16px;
    }
    .container3{
        width: 50%;
        background-color: white;
        padding-right: 16px;
    }
    .container3 .navigation{
        width: fit-content;
    }
    .container3 .task-table{
        display: none;
    }
    .container3 .titleMain, .container2 .title{
        justify-content: space-between;

    }
    .container3 .documentData{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 32px;
        padding-top: 32px;
        border-bottom: 1px solid #E5E9FF;
    }
    #lastDocument1, #lastDocument2{
        border-bottom: none;
    }
    .container3 .details{
        display: flex;
        gap: 32px;
    }
    .container3 .details .data, .container3 .statusDocument{
        width: 163px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .container3 .documentData p{
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: #1E1F21;
    }
    .container3 .documentData .title{
        color: #1E1F21;
        font-size: 14px;
        font-weight: 600;
        line-height: 19.6px;
        text-align: left;

    }
    .container3 .paymentData{
        margin-left: -40px !important;
        margin-right: -16px !important;
        padding-right: 16px;
        padding-left: 40px;
        gap: 24px;
    }
    .container3 .documentData .transactionDetails{
        cursor: pointer !important;
        justify-content: space-between;
    }
    .container3 .documentData .transactionDetails .data p{
        font-size: 16px;
        font-weight: 500;
    }
    .container3 .documentData .transactionDetails .amountData{
        font-weight: 600;
        width: fit-content;
        flex-direction: row;
        gap: 8px;
    }
    .container3 .documentData .transactionDetails .amountData img{
        transform: rotate(180deg);
        width: 16px;
        height: 16px;
    }
    .container3 .documentData .statusDocument{
        display: none;
    }
    .transactionDetails.active + .statusDocument{
        display: flex;
    }
    .paymentData:hover{
        background-color: #F8F9FC; 
        
    }
    .container3 .documentData .cateogoryTitle{
        font-size: 13px;
        font-weight: 400;
        line-height: 16.9px;
        letter-spacing: 0.005em;
        color: #6A6A6D;
    }
    .container3 .documentData .status{
        width: fit-content;
    }  
}
@media screen and (max-width: 870px){
    .container2{
        width: 55% !important;
    }
    .container3{
        width: 45% !important;
    }
}

@media screen and (max-width: 610px) {
    html{
    overflow-x: hidden;
    }
    .dashboard{
        width: 100%;
        min-width: 290px !important;
        display: flex;
        position: relative;
        flex-direction: column;
        margin: auto;
    }
    .container1{
        display: none !important;
        position: absolute !important;
        left: auto !important;
        right: 0 !important;
        top: 0;
        min-width: 220px !important;
        min-height: 700px !important;
        margin-left: 0;
        margin-right: 0;
        overflow-y:scroll !important;
        z-index: 1000  !important;
    }
    .container1 #menuIconToggle{
        transform: rotate(180deg);
    }   
    .mainHead{
        display: flex;
        padding-top: 46px;
        padding-left: 16px;
        
        justify-content: flex-start;
        background-color: #1A213F;

    }
    #menuBarIcon{
        top: 46px;
        left: auto;
        right: 22px;
        border: none;
        background-color: transparent;
    }
    #menuBarIcon:hover{
        background-color: #253156;
        transform: scale(0.99);
    }
    .container2{
        width: 100% !important;
        padding: 32px 16px 0 16px !important;
    }
    .container2 .goodMorning{
        gap: 0 !important;
    }
    .container2 .activityBox .activities .singleActivity{
        gap: 0px !important;
    }
    .container3{
        width: 100% !important;
        padding-left: 16px !important;   
    }
    .container3 .paymentData{
        margin-left: -16px !important;
        padding-left: 16px;
    }
    
}

